@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.App {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #333;
  display: grid;
  justify-items: center;
  align-content: center;
  min-height: 80vh;
  padding-left: 1rem;
  padding-right: 1rem;
}

.container {
  width: 100%;
  max-width: 1000px;
}

.page {
  min-height: 50vh;
  display: grid;
  align-content: center;
}
